{% extends 'base.html' %}
{% load static %}


{% block title %}
	All Posts
{% endblock %}

{% block content %}

	<div class="container">
		<a class="m-1 btn btn btn-secondary " href="{% url 'index' %}">Home</a>
		<h1 class="text-center display-2 mb-4">All Posts</h1>
		<div class="row mt-4">
			{% for post in posts %}
				<div class="col-md-4 mt-2">
					<div class="card">
						<img src="{{post.image_name.url}}"class="rounded h-100 w-100" alt="">
						<div class="card-text p-1 text-primary">{{post.title}}</div>
						<div class="card-body">{{post.excert}}</div>
						<div class="card-footer">
							<a href="{% url 'post_detail' post.slug %}" class="btn btn-primary">Read More</a>
							<span class="ml-4">{{post.date|date:"D Y M"}}</span>
						</div>					
					</div>
				</div>
			{% endfor %}	
		</div>
	</div>

{% endblock %}